body {
    margin: 0;
    font-family: sans-serif;
}
.menu-principal {
    background-color: #333;
    padding: 0;
}

.menu-principal li {
    list-style: none;
}

.menu-principal > ul > li {
    display: inline-block;
    position: relative;
}

.menu-principal a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
}

.menu-principal > ul > li + li {
    border-left: 1px solid #444;
}

.menu-principal li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #444;
    min-width: 150px;
    z-index: 10;
}

.menu-principal li:hover > ul {
    display: block;
}


.contenido_principal {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
}

h1 + p {
    font-size: 1.2em;
    font-weight: bold;
    color: #c0392b;
    margin-top: 5px;
    margin-bottom: 25px;
}

.seccion_pagina:nth-child(2) h2 ~ p {
    color: #2c3e50;
    background-color: #ecf0f1;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 3px;
    border-left: 5px solid #3498db;
}